{{#section 'js'}}
<script>
    $(document).ready(function () {
        var color = "aliceblue";
        const role = $('#userRole').text();
        if (role === 'subscriber'){
            color = "khaki";
            $("#card_content #userRole").text("ĐỘC GIẢ VIP");
        }
        if (role === 'editor'){
            color = "greenyellow";
            $("#card_content #userRole").text("BIÊN TẬP VIÊN");
        }
        if (role === 'writer'){
            color = "lightcoral";
            $("#card_content #userRole").text("PHÓNG VIÊN");
        }
        if (role === 'admin'){
            color = "violet";
            $("#card_content #userRole").text("QUẢN TRỊ VIÊN");
        }
        if (role === 'guest'){
            $("#card_content #userRole").text("ĐỘC GIẢ THƯỜNG");
        }
        $("#card_content").css("background-color", color);
    });
    $('#formProfilePassword').on('submit', function (e) {
        var password = $('#txtNewPassword').val();
        var repassword = $('#txtRepassword').val();
        if (password!=repassword)
        {
            alert('Mật khẩu không khớp!');
            e.preventDefault();
            return;
        }
        if(!confirm('Bạn xác nhận muốn đổi mật khẩu?'))
        {return false;}

    });

  

    </script>
{{/section}}

<!-- Main Breadcrumb Start -->
        <div class="main--breadcrumb">
            <div class="container">
                <ul class="breadcrumb">
                    <li><a href="home-1.html" class="btn-link"><i class="fa fm fa-home"></i>Home</a></li>
                    <li class="active"><span>Profile</span></li>
                </ul>
            </div>
        </div>
        <!-- Main Breadcrumb End -->

        <!-- Main Content Section Start -->
        <div class="main-content--section pbottom--30">
            <div class="container">
                <div class="row">
                    <!-- Main Content Start -->
                    <div class="main--content col-md-8 col-sm-7" data-sticky-content="true">
                        <div class="sticky-content-inner">
                            <!-- Page Title Start -->
                            <div class="page--title pd--30-0">
                                <h2 class="h2">Đổi mật khẩu </h2>
                                <p>Vui lòng điền vào form sau để đổi mật khẩu</p>
                                <div class="content">
                                    <div class="login--form">
                                    <form id="formProfilePassword" action="/account/profile_password" method="POST">
                                        <div class="form-group">
                                            <label>
                                                <span>Mật khẩu cũ</span>
                                                <input style="color: black; font-style: italic;" id="txtOldPassword" type="password" name="oldpassword" class="form-control" required>
                                            </label>
                                        </div>

                                        <div class="form-group">
                                            <label>
                                                <span>Mật khẩu mới</span>
                                                <input style="color: black; font-style: italic;" id="txtNewPassword" type="password" name="newpassword" class="form-control" required>
                                            </label>
                                        </div>

                                        <div class="form-group" >
                                            <label>
                                                <span>Điền lại mật khẩu mới</span>
                                                <input style="color: black; font-style: italic;" id="txtRepassword" type="password" name="renewpassword" class="form-control" required>
                                            </label>
                                        </div>
                                        <button id="submitBtn" type="submit" class="btn btn-lg btn-block btn-primary">Xác nhận</button>
                                    </form>
                                    </div>
                                </div>
                            </div>
                            <!-- Page Title End -->
                        </div>
                    </div>
                    <!-- Main Content End -->

                    <!-- Main Sidebar Start -->
                    <div class="main--sidebar col-md-4 col-sm-5 ptop--30 pbottom--30" data-sticky-content="true">
                        <div class="sticky-content-inner">

                            <!-- Widget Start -->
                            <div class="widget">
                                <!-- Profile Widget Start -->
                                <div class="profile--widget">
                                    <div id="card_content" class="contributor--item style--1">
                                        <div class="img">
                                            <img src="img/contributors-img/avatar-01.jpg" alt="" data-rjs="2">
                                        </div>

                                        <div class="name">
                                            <h3 class="h4"><a class="btn-link">{{authUser.TenDangNhap}}</a></h3>
                                        </div>
                                        <hr>
                                        <div class="name">
                                            <h3 class="h4"><a id="userRole" class="btn-link">{{authUser.LoaiNguoiDung}}</a></h3>
                                        </div>

                                        <div class="desc">
                                            <p>That is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                        </div>

                                        <div class="action">
                                            <a id="idNguoiDung" class="btn btn-default">{{authUser.idNguoiDung}}</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Profile Widget End -->
                            </div>
                            <!-- Widget End -->
                        </div>
                    </div>
                    <!-- Main Sidebar End -->
                </div>
            </div>
        </div>
        <!-- Main Content Section End -->



