
                <!-- Register Form Start -->
                <div class="login--form">
                    <div class="title">
                        <h1 class="h1">Đăng ký</h1>
                        <p>Điền vào khung bên dưới để đăng ký tài khoản mới</p>
                    </div>

                    <form action="/account/register" data-form="validate">
                        <div class="form-group">
                            <label>
                                <span>Họ và tên</span>
                                <input type="text" name="fullname" class="form-control" required>
                            </label>
                        </div>

                        <div class="form-group">
                            <label>
                                <span>Tên đăng nhập</span>
                                <input type="username" name="username" class="form-control" required>
                            </label>
                        </div>

                        <div class="form-group">
                            <label>
                                <span>Mật khẩu</span>
                                <input type="password" name="password" class="form-control" required>
                            </label>
                        </div>

                         <div class="form-group">
                            <label>
                                <span>Điền lại mật khẩu</span>
                                <input type="password" name="re_password" class="form-control" required>
                            </label>
                        </div>

                        <div class="form-group">
                            <label>
                                <span>Ngày sinh</span>
                                <input type="datetime" name="dob" class="form-control" required>
                            </label>
                        </div>

                        <div class="form-group">
                            <label>
                                <span>Giới tính</span>
                                <select name="gender" class="form-control" required>
                                    <option value="male">Nam</option>
                                    <option value="female">Nữ</option>
                                    <option value="other">Khác</option>
                                </select>
                            </label>
                        </div>

                        <div class="form-group">
                            <label>
                                <span>Email</span>
                                <input type="email" name="email" class="form-control" required>
                            </label>
                        </div>


                        <button type="submit" class="btn btn-lg btn-block btn-primary">Đăng ký</button>

                        <p class="help-block clearfix">
                            <a href="/account/login" class="btn-link pull-left">Đã có tài khoản?</a>
                        </p>
                    </form>
                </div>
                <!-- Register Form End -->