{{#section 'css'}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker-standalone.min.css" integrity="sha256-SMGbWcp5wJOVXYlZJyAXqoVWaE/vgFA5xfrH3i/jVw0=" crossorigin="anonymous" />

{{/section}}

{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js" integrity="sha256-5YmaxAwMjIpMrVlK84Y/+NjCpKnFYa8bWWBbUHSBGfU=" crossorigin="anonymous"></script>
<script>
    function onlyNumberKey(evt) {
        // Only ASCII character in that range allowed
        var ASCIICode = (evt.which) ? evt.which : evt.keyCode
        if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57))
            return false;
        return true;
    }
    function validateEmail(email) {
    const re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);
    }
</script>
<script>
    $('#formRegister').on('submit', async function (e) {
    const OTP = $('#txtOTP').val();
    if (OTP.length != 0)
    {
        $('#formRegister').off('submit').submit();
        return;
    }
    e.preventDefault();
    const username = $('#txtUsername').val();
    if (username.length === 0) {
      alert('Vui lòng điền tên đăng nhập!');
      $('#txtUsername').focus();
      return;
    }
    const password = $('#txtPassword').val();
    const repassword = $('#txtRepassword').val();
    if (password.length === 0) {
      alert('Vui lòng điền mật khẩu!');
      $('#txtPassword').focus();
      return;
    }
    if (password != repassword) {
      alert('Mật khẩu không khớp!');
      $('#txtPassword').focus();
      return ;
    }
    const ngaySinh = $('#txtDOB').val();
    if (ngaySinh.length === 0) {
      alert('Vui lòng điền ngày tháng năm sinh!');
      $('#txtDOB').focus();
      return;
    }
    const email = $('#txtEmail').val();
    if (!validateEmail(email))
    {
        alert('Vui lòng điền email hợp lệ!');
        $('#txtEmail').focus;
        return ;
    }
    $.getJSON(`/account/is-available?user=${username}`,function (data1) {
      if (data1 === true) {
        alert('Tên đăng nhập không có sẵn!');
        return;
      } else {
            $.getJSON(`/account/is-available?email=${email}`,function (data) {
            if (data === true) {
                alert('Email không có sẵn!');
                return;
            } else {
                $.getJSON(`/account/send-OTP?email=${email}`, function (data2) {
                    if (data2 === false) {
                        alert('Hệ thống lỗi. Vui lòng đăng ký lại trong ít phút!');
                    } else {
                        $('.form-group').hide();
                        $('#OTPbox').show();
                        alert('Đã gửi OTP đến Email của bạn. Vui lòng kiểm tra để hoàn tất đăng ký!');
                    }
            });
            }
            });
      }
    });
});

</script>
{{/section}}
                <!-- Register Form Start -->
                <div class="login--form">
                    <div class="title">
                        <h1 class="h1">Đăng ký</h1>
                        <p>Điền vào khung bên dưới để đăng ký tài khoản mới</p>
                    </div>

                    <form action="/account/register" method="POST" id="formRegister" data-form="validate">
                        <div class="form-group">
                            <label>
                                <span>Họ và tên</span>
                                <input type="text" name="fullname" class="form-control" required>
                            </label>
                        </div>

                        <div class="form-group" >
                            <label>
                                <span>Tên đăng nhập</span>
                                <input id="txtUsername" type="username" name="username" class="form-control" required>
                            </label>
                        </div>

                        <div class="form-group" >
                            <label>
                                <span>Mật khẩu</span>
                                <input id="txtPassword" type="password" name="password" class="form-control" required>
                            </label>
                        </div>

                         <div class="form-group" >
                            <label>
                                <span>Điền lại mật khẩu</span>
                                <input id="txtRepassword" type="password" name="re_password" class="form-control" required>
                            </label>
                        </div>

                        <div class="form-group" >
                            <label>
                                <span>Ngày sinh</span>
                                <input id="txtDOB" type="date" name="dob" class="form-control" required>
                            </label>
                        </div>

                        <div class="form-group" >
                            <label>
                                <span>Giới tính</span>
                                <select id="txtGender" name="gender" class="form-control" required>
                                    <option value="Nam">Nam</option>
                                    <option value="Nữ">Nữ</option>
                                </select>
                            </label>
                        </div>

                        <div class="form-group" >
                            <label>
                                <span>Email</span>
                                <input id="txtEmail" type="email" name="email" class="form-control" required>
                            </label>
                        </div>

                        <div id="OTPbox" class="form-group" style="display: none;">
                            <label>
                                <span>OTP</span>
                                <input id="txtOTP" type="text" name="OTP" class="form-control" onkeypress="return onlyNumberKey(event)" maxlength="6" required>
                            </label>
                        </div>

                        <button type="submit" class="btn btn-lg btn-block btn-primary">Đăng ký</button>
                        <p class="help-block clearfix">
                            <a href="/account/login" class="btn-link pull-left">Đã có tài khoản?</a>
                        </p>
                    </form>
                </div>
                <!-- Register Form End -->